.App {
  text-align: center;
}

#image {
  position:relative;
  left:30%;
}

#Qform {
  position:relative;
  left:30%;

}

#Gform {
  position:relative!important;
  left:37%!important;
  border: solid black 2px!important;
  border-radius: 8px!important;
  display: inline-block!important;
  padding: 30px!important;
  /* display: inline-flex!important; */
}

#Gbutton{
  border: solid red 3px!important;
}

.ui-card{
  width: 150px!important;
  height: 200px!important;
  padding: 5px!important;
  margin-left: 5px!important;
  border-radius: 15px!important;

}



.ui-cards{
  align-items: flex-start!important;
  position: relative!important;
  left:10%!important;


}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
